/target
**/*.rs.bk

/net-helpers/target
/net-helpers/Cargo.lock
/bpf-helpers/target
/bpf-helpers/Cargo.lock
/main-module/target
/main-module/Cargo.lock
/tail-call/target
/tail-call/Cargo.lock


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock
